import React from 'react';
import { storiesOf } from "@storybook/react";
import {{pascalCase name}} from "./{{pascalCase name}}";

export default {
    title: {{pascalCase name}},
    decorators: [storyFn => <div>{storyFn()}</div>]
};

const story = storiesOf("{{pascalCase name}}", module);

story.add('default', () => <{{pascalCase name}} />);